
/*Estilização do header*/
header{
  background: rgb(0, 0, 0);
  display: flex; 
}

/*Estilização da página e do background*/
body{
  margin: 0px;
  font-family: 'Roboto Slab', sans-serif;
  padding:0px;
  background: linear-gradient(72deg, #805d83 1%, #ffee04 99%);
  width: auto;
}

/*Estilização do título e descrição do produto*/
.product-brand {
  padding: 0 20px;
  text-align: center;
  color:rgb(0, 0, 0);
  top: -60%;
  left: 50%;
  transform: translate(-50%);
  position: relative;
}
/*Escondendo o botão de seleção e estilizando as imagens*/
.content {
  height: 520px;
  width: 400px;
  overflow: hidden;
  position:relative; 
  top: -40%;
  left: 50%;
  transform: translate(-50%, 10%);
  border-radius: 2px;
  box-shadow: 0px 10px 13px -10px #000000, 5px 6px 40px
}

.navigation {
  position:absolute;
  bottom: -5px;
  top: 148%;
  left: 50%;
  transform: translate(-50%);
  display:flex;
  
}

/*Estilização do botão carousel*/
.bar {
  width: 70px;
  height: 17px;
  border: 2px solid rgb(0, 0, 0);
  margin: 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: .6s;
}

.bar:hover{
  background-color: rgb(64, 196, 114);
}

 /*Imagens do produto*/
input:checked, #slide1, #slide2, #slide3, #slide4, #slide5{
  display: none;
}
 
.slides {
  display:flex;
  width: 500%;
  height: 100%; 
}

.slide {
  width: 20%;
  transition: .6s;
}

.slide img{
  width: 100%;
  height: 100%;
}

#slide1:checked ~ .s1 {
  margin-left: 0;
}

#slide2:checked ~ .s1 {
  margin-left: -20%;
}

#slide3:checked ~ .s1 {
  margin-left: -40%;
}

#slide4:checked ~ .s1 {
  margin-left: -60%;
}

#slide5:checked ~ .s1 {
  margin-left: -80%;
}


 .product-title {
text-align: center; 

}
.product-specifications-wrapper{
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}


/*Estilização dos preços*/
.product-prices{
  font-size: 30px;
  box-sizing: border-box;
  border-radius: 30px;
  text-align: center;
  position:relative;
  left: 30%;
  bottom: 40%;
  transform: translate(-65%, -220%);
}

/*Mudando cor do preço antigo*/
del{
  color: rgb(194, 8, 8);
}

/*Estilização da seção comprar*/
.product-buy-section{
  padding: 0 15px;
  text-align: center;
  position: relative;
  left: 30%;
  top: -40%;
  transform: translate(-65%,-460%);
  cursor: pointer;
}

/*Estilização do frete*/
.product-freight{
  font-size: 20px;
  text-align: center;
  position: relative;
  left: 50%;
  top: -40%;
  transform: translate(-50%,-55%);
  background: #d6b210;
  border: rgb(0, 0, 0) solid 3px;
  box-sizing: border-box;
}

input {
  padding: .3rem .7rem;
  font-size: 16px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/*Estilização dos botões "Ok", "+-" e*/
button {
  padding: .3rem .7rem;
  color: var(--button-colour);
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  background: var(--button);
  box-shadow: inset 0 0 0 2px var(--colour-white);
  cursor: pointer;
}

button, .button {
  --button: #f8c917;
  --button-border: var(--colour-black);
}

/*Estilização dos detalhes técnicos do produto*/
#techical-details {
    box-sizing:border-box;
    padding: 0 15px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background:rgb(255, 255, 255);
    border-radius: 10%;
    box-shadow: 0px 10px 13px -10px #000000, 5px 6px 40px
}

/*Responsividade da página*/ 
@media (max-width:1015px){
  .product-prices {
    padding: 0px 10px;
    transform: translate(-30%,75%);
    width: 100%;
    margin-left: 0px;
    text-align: left;
    font-size: 25px;
    height: auto
  }

  .product-buy-section {
    padding: 0 10px;
    top: -20%;
    transform: translate(-30%,-20%);
    box-sizing:border-box;
    width: 100%;
    float: inline-end;
    margin-left: 0px;
    text-align: right;
 
  }

  .product-freight {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    width:100%;  
    bottom: -70px; 
    font-size: 15px;
  }
}

@media (max-width: 1100px){
  .navigation{
    position:relative; 
    bottom: -90px; 
    display: inline-flex;
    flex-direction: initial;
    margin-left: auto;
    
  }

}
